<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>LITExamRATURE -
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="https://kit.fontawesome.com/25bd7313c3.js" crossorigin="anonymous"></script>
</head>


<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">LITE<strike>xam</strike>RATURE <i class="fas fa-book-open"></i></h3>
            <nav class="nav nav-masthead justify-content-center">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Създаване
                    </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item"
                           href="{{ path('create_character') }}">Нов герой</a>
                        <a class="dropdown-item"
                           href="{{ path('create_author') }}">Нов автор</a>
                        <a class="dropdown-item"
                           href="{{ path('create_work') }}">Нова творба</a>
                    </div>
                </div>

                &nbsp;&nbsp; 

                <div class="dropdown ">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Тестове
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="{{ path('test_genres') }}">Жанрове</a>
                        <a class="dropdown-item"
                           href="{{ path('test_characters') }}">Герои</a>
                        <a class="dropdown-item"
                           href="{{ path('test_works') }}">Творби</a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;

                <a class="btn btn-outline-light"
                   href="{{ path('homepage') }}">Начало</a>
                &nbsp;
                <a class="btn btn-outline-light"
                   href="{{ path('show_author_all') }}">Автори</a>
                &nbsp;
                <a class="btn btn-outline-light"
                   href="{{ path('show_work_all') }}">Творби</a>
                &nbsp;
                <a class="btn btn-outline-light"
                   href="{{ path('show_genre_all') }}">Жанрове</a>
                &nbsp;
                <a class="btn btn-outline-light"
                   href="{{ path('show_character_all') }}">Персонажи</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        {% block body %}{% endblock %}
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Created by <a href="https://github.com/DanielGeorgiev"><i class="fab fa-github"></i>Daniel Georgiev</a>
                and idea inspired by <a href="https://github.com/NikolayKolibarov"><i class="fab fa-github"></i>Nikolay
                    Kolibarov</a>, © 2020
            </p>
        </div>
    </footer>
</div>


{% block javascripts %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    function showAnswer(id, type) {
        let x = document.getElementById(undefined);

        if (type === "work") {
            x = document.getElementById("work_" + id);
        }
        if (type === "character") {
            x = document.getElementById("character_" + id);
        }

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</body>
</html>

