{% extends 'base.html.twig' %}

{% block title %}
    Творби
{% endblock %}

{% block body %}
    <br/>
    <h1>Творби</h1>
    <br/>
    <div class="container">
        <div class="row">
            {% for work in works %}

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <h2 style="color: #000000; font-style: italic">{{ work.name }}</h2>
                        <br/>
                        <h6 style="color: #000000">Автор: {{ work.author.name }}</h6>
                        <h6 style="color: #000000">Издадена: {{ work.creationYear }}г. </h6>
                        <h6 style="color: #000000">Жанр: {{ work.genre.name }}</h6>
                        <a style="color: #000000" href="{{ work.infoSource }}" target="_blank">> Виж в zamatura.eu <</a>
                    </div>
                    <div class="card mb-4 box-shadow">
                        <h6 style="color: #000000">Персонажи:</h6>
                        {% for hero in work.heroes %}
                            <h6 style="color: #B0413E">{{ hero.name }}</h6>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
